@charset "UTF-8";
/* CSS Document */

body {
	font-family:Quicksand;
	width:100%;
	height:100%;
	margin:0;
  	padding:0;
}

header {
	text-align:center;
	position:relative;
	top:1em;
	display:block;
}

header h1 {
	line-height:0em;
}

header h1 a:hover {
	cursor:crosshair;
}

header h1 a {
	text-decoration:none;
	color:rgba(0,0,0,1.00);
}

#cv {
	position:relative;
	top:0;
	line-height:none;
	right:8%;
	display:inline-block;
}

#cv a {
	text-decoration:none;
	color:rgba(170,170,170,1.00);
	cursor:crosshair;
}

#cv:hover {
	border-bottom: none;
	border-bottom: 1px dashed rgba(170,170,170,1.00);
	color:rgba(0,0,0,1.00);
	cursor:crosshair;
}

#email {
	color:rgba(170,170,170,1.00);
	position:relative;
	left:8%;
	top:0em;
	line-height:none;
	display:inline-block;
}

#email a {
	text-decoration:none;
	color:rgba(170,170,170,1.00);
	cursor:crosshair;
}

#email:hover {
	border-bottom: 1px dashed rgba(170,170,170,1.00);
	color:rgba(0,0,0,1.00);
	cursor:crosshair;
}

#wrapper {
	position:relative;
	margin-top:-2em;
}

.marquee {
	width:55%;
	color: black;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
	display:inline-block;
	line-height:0em;
	border-left: 1px dashed rgba(170,170,170,0.5);
	border-right: 1px dashed rgba(170,170,170,0.5);
}

.marquee:hover {
	cursor:crosshair;
}
.marquee p {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 25s linear infinite;
}
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

#container {
	display:block;
	position:relative;
	top:5em;
	width:100%;
	height:700px;
}

#container ul {
	list-style-type:none;
	width:80%;
	margin:auto;
	font-size:0;
	padding-left:0;
}

#container li {
	position:relative;
	width:calc(100%/3 - 2px);
	display:inline-block;
	text-align:center;
	font-size:15px;
	height:300px
}

.c1 {
	border-top: 1px dashed rgba(170,170,170,1.00);
	border-left: 1px dashed rgba(170,170,170,1.00);
}

.c2 {	
	border-top: 1px dashed rgba(170,170,170,1.00);
	border-left: 1px dashed rgba(170,170,170,1.00);
}

.c3 {	
	border-top: 1px dashed rgba(170,170,170,1.00);
	border-left: 1px dashed rgba(170,170,170,1.00);
	border-right: 1px dashed rgba(170,170,170,1.00);
}

.r1 {
	top:0em;
}

.r2 {
	top:0em;
	border-bottom:1px dashed rgba(170,170,170,1.00);
}



