@charset "UTF-8";
/* CSS Document */

body {
	font-family:Quicksand;
	width:100%;
	height:100%;
	margin:0;
  	padding:0;
}

header {
	text-align:center;
	position:relative;
	top:1em;
	display:block;
	z-index:2;
	background-color:rgba(255,255,255,1.00);
}

header h1 {
	line-height:0em;
}

header h1 a:hover {
	cursor:crosshair;
}

header h1 a {
	text-decoration:none;
	color:rgba(0,0,0,1.00);
}

#cv {
	position:relative;
	top:0;
	line-height:none;
	right:8%;
	display:inline-block;
}

#cv a {
	text-decoration:none;
	color:rgba(170,170,170,1.00);
	cursor:crosshair;
}

#cv:hover {
	border-bottom: none;
	border-bottom: 1px dashed rgba(170,170,170,1.00);
	color:rgba(0,0,0,1.00);
	cursor:crosshair;
}

#email {
	color:rgba(170,170,170,1.00);
	position:relative;
	left:8%;
	top:0em;
	line-height:none;
	display:inline-block;
}

#email a {
	text-decoration:none;
	color:rgba(170,170,170,1.00);
	cursor:crosshair;
}

#email:hover {
	border-bottom: 1px dashed rgba(170,170,170,1.00);
	color:rgba(0,0,0,1.00);
	cursor:crosshair;
}

#wrapper {
	position:relative;
	margin-top:-2em;
}

.marquee {
	width:55%;
	color: black;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
	display:inline-block;
	line-height:0em;
	border-left: 1px dashed rgba(170,170,170,0.5);
	border-right: 1px dashed rgba(170,170,170,0.5);
}

.marquee:hover {
	cursor:crosshair;
}
.marquee p {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 25s linear infinite;
}
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

#container {
	display:block;
	position:relative;
	top:3em;
	width:100%;
	z-index:1;
}

#container ul {
    list-style-type:none;
	width:80%;
	margin:auto;
	font-size:0;
	padding-left:0;
}

#container li {
	position:relative;
	display:inline-block;
	text-align:center;
	font-size:15px;
	border: 1px solid rgba(170,170,170,1.00);
	width:35.355339%;
	
	-moz-transform: rotate(-45deg);  
	-o-transform: rotate(-45deg);  
	-webkit-transform: rotate(-45deg);  
	-ms-transform: rotate(0deg);  
	transform: rotate(-45deg);  
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, 			M22=0.70710678,sizingMethod='auto expand')";
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678,sizingMethod='auto expand');

}

.c3.r2 {
	border-left: none !important;
}

.r1 {
	border-top: none !important;
	border-right: none !important;
}

.r2 {
	border-bottom: none !important;
	border-left: none !important;
}

.r3 {
	border-bottom: none !important;
	border-left: none !important;
}

.r4 {
	border-top: none !important;
	border-right: none !important;
}

.line {
	position:absolute;
	height:0px;
	border-bottom:1px solid rgba(170,170,170,1.00);
}